<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">つぶやきビックデータ</a>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col s10 offset-s1">
      <table class="highlight">
        <thead>
        <tr>
          <th>word</th>
          <th>count</th>
        </tr>
        </thead>
        <tbody>
        <% @hash.rows.each do |row| %>
            <tr>
              <td><a class="blue-text text-darken-2" href="https://twitter.com/search?q=<%= row[0] %>" target="_blank"><%= row[0] %></a></td>
              <td><%= row[1] %></td>
            </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>